<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/week4/Alcohol_Consumption/Exercise_ByMac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [6]:
df.groupby('continent').agg({'beer_servings' : 'mean'})

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

In [17]:
df.groupby('continent')['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [44]:
df.groupby('continent').wine_servings.describe()
#type(df.groupby('continent').wine_servings.describe())

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [45]:
df.groupby('continent').wine_servings.apply(lambda x : x.describe())
#type(df.groupby('continent').wine_servings.apply(lambda x : x.describe()))

continent
AF         count     53.000000
           mean      16.264151
           std       38.846419
           min        0.000000
           25%        1.000000
           50%        2.000000
           75%       13.000000
           max      233.000000
AS         count     44.000000
           mean       9.068182
           std       21.667034
           min        0.000000
           25%        0.000000
           50%        1.000000
           75%        8.000000
           max      123.000000
EU         count     45.000000
           mean     142.222222
           std       97.421738
           min        0.000000
           25%       59.000000
           50%      128.000000
           75%      195.000000
           max      370.000000
OC         count     16.000000
           mean      35.625000
           std       64.555790
           min        0.000000
           25%        1.000000
           50%        8.500000
           75%       23.250000
           max      212.000000
SA         count     12.000000
           mean      62.416667
           std       88.620189
           min        1.000000
           25%        3.000000
           50%       12.000000
           75%       98.500000
           max      221.000000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [11]:
df.groupby('continent').mean()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

### Step 7. Print the median alcohol consumption per continent for every column

In [12]:
df.groupby('continent').median()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [14]:
df.groupby('continent').agg({'spirit_servings':['mean', 'min', 'max']})

          spirit_servings
                     mean min  max
continent
AF              16.339623   0  152
AS              60.840909   0  326
EU             132.555556   0  373
OC              58.437500   0  254
SA             114.750000  25  302

In [46]:
df.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

# Extra : find continent that have spirit_servings more than mean

In [30]:
df2 = df.groupby('continent')['spirit_servings'].mean()

In [50]:
df['spirit_servings'].mean()

80.99481865284974

In [52]:
df2 > df['spirit_servings'].mean()

continent
AF    False
AS    False
EU     True
OC    False
SA     True
Name: spirit_servings, dtype: bool

In [49]:
df2[df2 > df['spirit_servings'].mean()]

continent
EU    132.555556
SA    114.750000
Name: spirit_servings, dtype: float64